* {
  box-sizing: border-box;
}
h1{
  color: purple;
  text-align: center;
  margin-left: 33%;
  margin-right:33%;
  font-family: 'Crimson Text', serif;
}
.navbar{
  position: static;
  width: 100%;
  background-color: purple;
  font-family: 'Crimson Text', serif;
}

.nav navbar-nav{
  color: yellow;
}

p {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  font-size: 30px;
}


nav div ul li:hover {
  cursor: pointer;
}
a {color: white;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

#Portfolio p{
  text-align: center;
}

#Portfolio h3{
  font-family: 'Crimson Text,' serif;
  text-align: center; 
  font-size: 1.2em;
  padding-bottom: 20px;
  }

#Portfolio img {
  height: 250px;
  width: auto;
  border: 2px black solid;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 1.2em;
  background: purple;
  text-decoration: none;
  border: none;
  min-width: 134px;
  font-family: 'Crimson Text', serif;
}
button:hover{
  cursor: pointer;
  background-color: plum;
}



footer{
  width:100%;
  text-align: center;
  margin-top: 40px;
  font-family: 'Crimson Text', serif;
  background-color: purple;
  color: yellow;
  height: 50px;
  font-size: 1.2em;
}

#resume { margin:0 auto; text-align: center;font-family: 'Crimson Text', serif;}

img {border: 2px black solid; margin: 0 20px; margin-bottom: 20px;}



@media screen and (max-width: 360px) {

h1 {
  font-size: 25px;
}
p{
  font-size: 25px;
}
}

@Media screen and (min-width: 800px){
  #resume p{
    font-size: 30px;
  }
}

@media screen and (min-width: 1000px) {

h1{
  font-family: 'Crimson Text', serif;
}
#resume img {
  float:right;
  height:300px;
  width: 300px;
}
#resume p {
  font-family: 'Crimson Text', serif;
  margin-left: 100px;
  margin-right: 200px;
}
#Portfolio img {
  height: 400px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}
